<% @projects.each do |project| -%>
	<h2><%= link_to project.name, project_path(project) %></h2>
	<%= render :partial => "activities/list", :locals => { :project => project, :date => Date.today - 1 } %>
	<br />
<% end -%>