<% @projects.each do |project| -%>
	<h2 class="project-title"><%= link_to project.name, project_path(project.id) %></h2>
	<%= render :partial => "activities/list", :locals => { :project => project, :activities => project.activities }	%>
	<br />
<% end -%>