<div id="nocomments">
 <% if @comments.size == 0 %>
  There are currently no comments.</div>
  <% end %>
 </div>

<div id="comments" class="comments_content">	
  <%= render :partial => 'list' %>
</div>

<div class="comments-link"><%= post_comment_link %></div>

<div id="new_comment"></div>