<div class="comment">
	<div class="comment-header">
	  Posted by <%= comment.commenter.username %> on <%= comment_datetime_for comment.created_at %>
	</div>
	<div class="comment-body">
	  <%= comment.content %>
	</div>
</div>