body {
	font: 78.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	word-spacing:2px;
	color:#444;
	margin:20px;
	background:url(../images/body.jpg) #f6f6f6;
}

* {
	margin:0;
	padding:0;
}

#wrapper, #comments-wrapper {
	background:#fff;
	border:3px solid #f1f1f1;
	width:expression(this.width > 320 ? "320px" : this.width);
	min-width:840px;
	margin:0 auto;
}

#comments-wrapper{
  min-width: 150px;
}

* html #wrapper
{
	width: expression(document.documentElement.clientWidth > 1400 ? "1400px" : "auto");
}

#innerwrapper {
	margin:1px;
	background:url(../images/innerwrapper.jpg) top repeat-x;
	padding:20px;
}

#header input {
	width:150px;
	padding:5px;
	background:#fff;
	border:2px solid #f6f6f6;
	font:150% Arial;
	color:#999;
}

#header input:hover {
	border:2px solid #ccc;
}

#header input:focus {
	border:2px solid #79B5D6;
	color:#555;
}

#header form {
	padding:27px 25px 20px 25px;
	float:right;
	background:#fff;
	width:160px;
	margin:-20px -20px 0 0 !important;
	margin:-20px -10px 0 0;
	border:none;
}

#header h1 {
	float:left;
	font:250% Georgia;
	color:#333;
	padding:5px 20px 5px 5px;
	
	margin:0 20px 0 0;
}

#header h1 a {
	color:#333;
	text-decoration:none;
	
}

#header h1 a:hover {
	color:#111;
	
}

#header h2 {
	font:150% Georgia;
	font-weight:normal;
	color:#555;
	padding:14px 0 0 0;
	border:none;
}

#header h2 a {
	color:#555;
	text-decoration:none;
	border-bottom:2px solid #f6f6f6;
}


#header #nav {
	clear:both;
	background:url(../images/nav.jpg) top repeat-x #4F9EC9;
	border-bottom:2px solid #4F9EC9;
	border-top:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
	padding:10px 10px 10px 0 !important;
	padding:4px 10px 10px 0;
}

#header a em {
	font-style:normal;
	text-decoration:underline;
}

#header #nav a {
	color:#fff;
	font:140% Trebuchet MS;
	text-decoration:none;
	padding:10px;
}

#header #nav a:hover {
	background:#4F9EC9;
}

#header #nav a.active {
	background:#4F9EC9;
}

#header #nav li {
	display:inline;
	list-style:none;
	margin:0 1px 0 0;
}

#header #subnav {
	background:#4F9EC9;
	padding:5px 7px 7px 7px;
	font:90% Verdana;
	color:#DEEDF5;
	border-bottom:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
}

#header #subnav li {
	list-style:none;
	display:inline;
}

#header #subnav a {
	color:#DEEDF5;
	text-decoration:none;
	font:100% Verdana;
	padding:5px;
	border-bottom:2px solid #4F9EC9;
}

#header #subnav a:hover {
	border-bottom:2px solid #388CBA;
	color:#fff;
}

#header #subnav a.active {
	border-bottom:2px solid #388CBA;
	color:#fff;
}

#sidebar {
	width:250px;
	float:right;
	padding:10px 0 0 20px;
	background:url(../images/sidebar.jpg) top left no-repeat;
}

#sidebar p {
	font:90% Verdana;
	color:#777;
	line-height:20px;
	margin:10px 0;
}

#sidebar h2 {
	font:140% Arial;
	color:#333;
	margin:10px 0;
	border:none;
}

#sidebar ul {
	margin:10px 0 10px 15px;
	font:90% Verdana;
}

#sidebar ul li {
	margin:5px 0;
}

#sidebar a {
	border-bottom:1px dotted #eee;
	color:#444;
	text-decoration:none;
}

#sidebar a:hover {
	border-bottom:1px solid #ccc;
}


#content {
	margin:0 290px 0 0px;
	padding:20px 0 0 20px;
}

#contentnorightbar {
	margin:0 0 0 240px;
	padding:20px 0 0 20px;
}

p {
	margin:15px 0;
	line-height:22px;
}

h2 {
	font:190% Arial;
	color:#79B933;
	border-bottom:2px solid #f6f6f6;
}

h2 a {
	color:#79B933;
	text-decoration:none;
}

h2 a:hover {
	color:#5F9128;
}

a {
	color:#222;
}

a:hover {
	text-decoration:none;
}

h3 {
	font:140% Trebuchet MS;
	margin:10px 0;
}

#content ul {
	margin:5px 0 5px 0;
	line-height:25px;
	padding-left: 15px;
}
#content ul span {
	color:#444;
}
#contentnorightbar ul {
	margin:15px 0 15px 20px;
	line-height:25px;
	padding:15px 0;
	color:#79B933;
}
#contentnorightbar ul span {
	color:#444;
}

label {
	display:block;
	font-weight:bold;
	color:#444;
	margin:5px 0;

}

p img {
	float:left;
	margin:0 10px 0 0;
}

blockquote p {
	font:160% Georgia;
	color:#aaa;
	padding:0 10% 0 0;
	line-height:30px;
}

/* Layout above this line */

img {
	border: none;
}

input, textarea, select {
	padding: 4px;
	border: 1px solid #ccc;
	font: 90% Verdana;
	color: #777;
}

select {
	padding: 0px;
}

th {
	text-align: left;
}

#notice {
  color: green;
	font-weight: bold;
	font-size: 2em;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 100;
	background-color: #69FF6B;
	border: 5px solid green;
	padding: 10px;
	-moz-border-radius: 15px;
}

#error {
  color: red;
	font-weight: bold;
	font-size: 2em;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 100;
	background-color: #FFA88D;
	border: 5px solid red;
	padding: 10px;
	-moz-border-radius: 15px;
}

.inplaceeditor-form {
  display: inline;
}

.inplaceeditor-field {
  cursor: pointer;
}

.editor_field {
	margin-right: 5px;
}

.draggable {
  cursor: move;
}

.auto_complete_results ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 100;
}

.auto_complete_results ul li	 {
	padding-left: 5px;
	padding-right: 5px;
}

.auto_complete_results ul li.selected	 {
	background-color: #ffb;
}

#footer {
	clear: both;
	border-top: 1px solid #eee;
	padding-top: 10px;
	text-align: center;
	font-size: 0.8em;
	color: #ccc;
}

.story_list {
  min-height: 20px; 
}

.story_card {
	margin-top: 3px;
}

.story_card.even {
	background-color: #f5f5f5;
	border: 1px solid #d3d3d3;
}

.story_card.odd {
	background-color: #fff;
	border: 1px solid #f5f5f5;
}

.story_card .header {
	position: relative;
	cursor: pointer;
  padding: 3px;
}

.story_card .header:hover {
	background-color: #E6F5FF;
}

.story_card .content {
	position: relative;
  padding: 3px;
}

.story_card .content .toolbar {
	float: right;
}

.story_card .content .destroy {
	float: right;
	background: url(../images/destroy.png) no-repeat;
	padding-left: 20px;
	color: red;
	font-weight: bold;
}

.story_card .content dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

.story_card .content dl dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-decoration: underline;
}

.story_card .content dl dd {
	margin: 0;
	padding: 0;
}

.iteration .header-stats {
  float: right; 
}

.iteration .header-stats .stat {
  margin-right: 5px;
  font-size: 0.8em;
}

option.group {
	font-weight: bold;
}

option.option {
	padding-left: 15px;
}

.statuses {
	
}

ul.statuses {
	list-style: none;
	position: absolute;
	right: 5px;
	top: -5px;
}

ul.statuses li {
	display: inline;
	width: 6px;
	height: 6px;
	background-image: url(../images/bullet_white.png);
	background-repeat: no-repeat;	
	cursor: pointer;
}

ul.statuses li.red:hover, ul.statuses li.red.selected {
	background-image: url(../images/bullet_red.png);
}

ul.statuses li.yellow:hover, ul.statuses li.yellow.selected {
	background-image: url(../images/bullet_yellow.png);
}

ul.statuses li.black:hover, ul.statuses li.black.selected {
	background-image: url(../images/bullet_black.png);
}

ul.statuses li.green:hover, ul.statuses li.green.selected {
	background-image: url(../images/bullet_green.png);
}

ul.statuses li.blue:hover, ul.statuses li.blue.selected {
	background-image: url(../images/bullet_blue.png);
}

.comment {
  margin: 2px;
}

.comment-header {
  padding-left: 4px;
  font-size: 1.0em;
  font-weight: bold;
  background-color: #79B933;
  color: #FFF;
}

.comment-body {
  background-color: #c3ff82;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.comments-inline {

}

.comments-link {
  display: inline; 
}

table.project_summary {
	border-collapse: collapse;
  border-top: 1px solid lightgray; 
}

table.project_summary tr td, table.project_summary tr th {
  border-bottom: 1px solid lightgray; 
}
