body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Above this line is default scaffolding */

body {
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #231bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #159aff;
  text-decoration: underline;
}

img {
  border: none;
}

ul#navigation {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border-bottom: 1px dashed #000;
}

#navigation li {
	display: inline;
}

.inplaceeditor-form {
  display: inline;
}

.inplaceeditor-field {
  cursor: pointer;
}

#notice {
  color: #fff;
	font-weight: bold;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 100;
	background-color: green;
	padding: 2px;
}

#error {
  color: #fff;
	font-weight: bold;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 100;
	background-color: red;
	padding: 2px;
}

.draggable {
  cursor: move;
}

.complete {
  background-color: #7ae7a8;
}

.section {

}

.section_header {
  font-weight: bold;
  font-size: 26px;

  width: 100%;
  padding: 5px;
  border-bottom: 1px dashed black;
 }

.section_content {
  padding: 5px;
}

.responsible_party {
  color: #868686;
  font-style: italic;
}

.story_card {
  margin-bottom: 3px;
}

.story_card .header {
  border: solid #000 1px;
	background-color: #FFFF99;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius: 15px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	line-height: 15px;
}

.story_card .header img {
	vertical-align: middle;
}

.story_card .content {
  border: solid #000 1px;
  border-top: none;
	background-color: #FFFF66;
	padding: 5px;
	-moz-border-radius: 15px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}

.story_card .content p {
	margin: 0px;
}

.company_option {
	font-weight: bold;
}

.user_option {
	padding-left: 15px;
}

.auto_complete_results ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #000;
}

.auto_complete_results ul li	 {
	padding-left: 5px;
	padding-right: 5px;
}

.auto_complete_results ul li.selected	 {
	background-color: #ffb;
}