<% form_for :user, :html => { :id => "login_form" } do |form| %>
	<p>
  	<b>Username</b><br />
		<%= form.text_field :username %>
  </p>

	<p>
  	<b>Password</b><br />
		<%= form.password_field :password %>
  </p>

	<p>
  	<%= submit_tag 'Login' %>
	</p>
<% end %>
<%= javascript_tag "$('login_form').focusFirstElement();" %>