<% form_for :user do |form| -%>
	<p>
  	<b>Email Address</b><br />
		<%= form.text_field :email_address %>
  </p>

	<p>
  	<%= submit_tag 'Submit' %>
	</p>
<% end -%>

<%= link_to "login", login_path %>