<div>
  <h2>Add People To Your Project</h2>
  
  <% form_for [@project, @invitation] do |form| -%>
    <label for="email_addresses">Enter email addresses separated by newlines:</label>
    <p><%= text_area_tag :email_addresses, "", :cols=>50, :rows => 5 %></p>
    <label for="email_body">Enter invitation message:</label>
    <p><%= text_area_tag :email_body, "", :cols=>50, :rows => 5 %></p>
    <%= form.submit "Send Invites!" %>
  <% end -%>
 
</div>