<div>
  <h2>Add People To Your Project</h2>

  <div>Enter email addresses separated by newlines.</div>
  
  <% form_for [@project, @invitation] do |form| -%>
    <%= text_area_tag :email_addresses %>
    <%= text_area_tag :email_body %>
    <%= form.submit "Send Invites!" %>
  <% end -%>
 
</div>