development:
  adapter: mysql
  database: strac_development
  username: root
  password:
  host: localhost

test:
  adapter: mysql
  database: strac_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql
  database: strac_production
  username: root
  password:
  host: localhost
