set :application, "strac"
set :repository, "http://rails.lotswholetime.com/svn/#{application}/#{repository_path}"

role :web, "strac.lotswholetime.com"
role :app, "strac.lotswholetime.com"
role :db, "strac.lotswholetime.com", :primary => true

set(:rails_env, :production)
