  <p>
    <b>Summary</b><br />
    <%= form.text_field :summary %>
  </p>

  <p>
    <b>Description</b><br />
    <%= form.text_area :description %>
  </p>

  <p>
    <b>Points</b><br />
    <%= form.text_field :points %>
  </p>

  <p>
    <b>Iteration</b><br />
    <%= form.collection_select :iteration_id, @iterations, :id, :name, :include_blank => true %>
  </p>

  <p>
    <b>Tags:</b><br />
     <%= form.text_field :tag_list %> <i>(tags are comma separated)</i>
  </p>
