<%= render :partial => "iterations/list", :locals => {:iterations=>iterations} %>

<table width="100%">
	<tr>
		<td>
     	<b>Backlog</b>
    </td>
   	<td align="right"><%= link_to_remote "create story", :url => new_story_path( iterations.backlog.project.id ), :method => :get, :html=>{:class=>"create-story"} %></td>
  </tr>
</table>

<%= render :partial => "iterations/stories", :locals=>{:iteration=>iterations.backlog, :stories => iterations.backlog.stories} %>
