<%= render :partial => "iterations/list", :locals => {:iterations=>iterations} %>

<table width="100%">
	<tr>
		<td>
     	<b>Backlog</b>
    </td>
   	<td align="right"><%= link_to_remote "create story", :url => new_story_path( iterations.backlog.project.id ), :method => :get, :html=>{:class=>"create-story"} %></td>
  </tr>
</table>

<%= render :partial => "iterations/stories", :locals=>{:iteration=>iterations.backlog, :stories => iterations.backlog.stories} %>

<% iterations.each_with_backlog do |iteration| -%>
  <%= sortable_element iteration.unique_id,
                       :url => reorder_stories_path(iteration.project), :method => :put,
                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => iterations.containment_ids -%>
<% end -%>

