<% for iteration in @iterations + [ nil ] -%>
  <b><%=h iteration ? iteration.name : "Whenever..." %></b>
  <div id="iteration_<%= iteration ? iteration.id : "nil" %>">
    <%= render :partial  => 'iteration', :locals => { :stories => @stories[iteration] || [] } %>
  </div>
  <br />
<% end -%>
<% iteration_list_ids = ( @iterations + [ nil ] ).map{ |i| "iteration_#{i ? i.id : "nil"}" } -%>
<% for iteration in iteration_list_ids -%>
  <%= sortable_element iteration,
                       :url => reorder_stories_path, :method => :put,
                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => iteration_list_ids -%>
<% end -%>