<div id="story_<%= story.id %>_header" class="take_release">	
	<% if story.responsible_party.nil?  %>
		<%= render :partial=>'stories/take', :locals=>{:story=>story} %>
	<% else %>
		<%= render :partial=>'stories/release', :locals=>{:story=>story} %>
	<% end %>
</div>
<div style="display:inline">
	<%= render :partial => 'stories/mini_story_body', :locals => { :story => story } %>
</div>