<h1>create story</h1>

<%= error_messages_for :story %>

<% remote_form_for :story, :url => stories_path( @project ) do |form| -%>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <p>
    <%= submit_tag "Create" %> or 
		<%= link_to( "cancel", "#", :onclick => update_page { |page| page.visual_effect( :blind_up, "iteration_#{@story.iteration_id.inspect}_story_new", :duration => 0.3 ); page << "return false;" } ) %>
  </p>
<% end -%>
