<%= expand_ids( @story.description ) %>

<%= link_to "Comments (#{@story.comments.size})", 
	comments_url( :project_id=>@story.project_id, :story_id=>@story.id ), 
	:popup => ['new_window', 'height=600,width=500,resizable=1,scrollbars=1'] %>

<div id="story_<%= @story.id %>_comments"></div>
