<h1>Editing story</h1>

<%= error_messages_for :story %>

<% form_for(:story, :url => story_path(@story), :html => { :method => :put }) do |f| %>
  <%= render :partial=>'stories/form', :locals=>{ :form=>f } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', story_path(@story) %> |
<%= link_to 'Back', stories_path %>
