<div class="section">
  <div class="section_header">Stories</div>

  <div id="stories" class="section_content">
    <%= render :partial => 'stories/iterations', :locals => { :iterations => @stories_presenter.iterations_presenter } %>
  </div>
</div>
