<div class="section">
  <div class="section_header">Stories</div>

  <div id="stories" class="section_content">
    <% if @stories_presenter.iterations? %>
      <%= render :partial => 'stories/iterations', :locals => { :iterations => @stories_presenter.iterations } %>
    <% elsif @stories_presenter.tags? %>
      <%= render :partial => 'stories/tags', :locals => { :tags => @stories_presenter.tags } %>    
    <% end %>
  </div>
</div>
