<div class="section">
  <table class="section_header" cellspacing="0" cellpadding="0">
    <tr>
      <td>Stories</td>
      <td align="right"><%= link_to 'create', new_story_path( @project ) %></td>
    </tr>
  </table>

  <div id="stories" class="section_content">
    <%= render :partial => 'iterations' %>
  </div>
</div>
