<div class="section">
  <div class="section_header">Stories</div>

  <div id="stories" class="section_content">
		<div id="story_new"></div>
    <%= render :partial => 'iterations' %>
  </div>
</div>
