<div>
	<div class="header-stats">
	  <span class="stat">Budgeted: <%= h iteration.budget %></span>
	  <span class="stat">Completed: <%= h iteration.points_completed %></span>
	  <span class="stat">Remaining: <%= h iteration.points_remaining %></span>
	</div>
	<div class="header">
		<b>Iteration:</b> <%=h iteration.display_name %><br />
	</div>
</div>
