<div class="section">

  <table width="100%">
    <tr>
      <td><b>Current Stories</b></td>
      <td align="right"><%= link_to_remote "create story", :url => new_story_path( @project ), :method => :get %></td>
    </tr>
  </table>
  <div id="iteration_nil_story_new"></div>
  <div id="iteration_nil" class="story_list">
  	<%= render :partial  => 'stories/list', :locals => { :stories => @stories } %>
  </div>
  <% javascript_tag do %>
    Strac.Iteration.drawCurrentIterationVelocityMarker();
  <% end %>

  <% iteration_list_ids = [ "iteration_nil" ] -%>
  <% for iteration in iteration_list_ids -%>
    <%= sortable_element iteration,
                         :url => reorder_stories_path(@project), :method => :put,
                         :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, 
                         :containment => iteration_list_ids,
                         :onChange =>  "Strac.Iteration.drawCurrentIterationVelocityMarker"
                          -%>
  <% end -%>

</div>