<table>
<% activities.each do |activity| -%>
	<tr class="activity">
		<td class="created-at"><%= activity.created_at.strftime( "%a, %b %d, %Y %I:%M %p" ) %>:&nbsp;</td>
		<td class="activator"><b><%= activity.actor.full_name %></b></td>
		<td class="action"><%= expand_ids activity.action %></td>
	</tr>
<% end -%>
<%= "<td><i>No recent activity</i></td>" if activities.empty? %>
</table>