<%= error_messages_for :phase %>
<% remote_form_for [phase.project, phase], :html => { :id => "phase_form" } do |form| %>
  <p><%= form.label :name %><%= form.text_field :name %></p>
  <%= form.submit "Create phase" %>
<% end %>