<%= error_messages_for :phase %>

<% form_for [phase.project, phase] do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, :size => 60 %>
  </p>
  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
