<div style="float:right; background-color: transparent;">
  <em>Dragging stories is currently disabled.</em>
</div>
<h1>Phase - <%= h @phase.name %></h1>

<p>
  <%= h @phase.description %>
</p>

<h3>Stories<br/>
<hr />
</h3>

<div id="phase_<%= @phase.id %>">
<%= render :partial => 'stories/list', :locals => { :stories => @phase.stories } %>
</div>
